<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">Currency Converter Login Form</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                           <form #loginForm="ngForm" name="myFormName" (ngSubmit)="submitForm(loginForm, loginformModel)">
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="name" id="uname1" required="" [(ngModel)]="loginformModel.name" >
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1" required="" [(ngModel)]="loginformModel.password" autocomplete="new-password" name="password">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>
								<div class="form-check">
								<label class="form-check-label">
								  <input class="form-check-input" type="checkbox"> Remember me
								</label>
							    </div>
								<div class="float-sm-left">Forget-password</div>
								<span class="float-sm-right"><a routerLink = "register">Registration form</a></span><br>
								<br>
                                <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>
			


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>